<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Spline+Sans&display=swap" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Display:ital,wght@1,600&family=Spline+Sans&display=swap"
            rel="stylesheet"
        />
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

        <title>💻JobSrapper</title>
    </head>
    <body class="flex flex-col">
        <!-- NAV -->
        {% include 'nav.html' %}
        <!-- CONTENT -->
        <div class="wrapper">
            <div class="mt-24 bg-white"></div>
            {% block content %} {% endblock content %}
        </div>

        <script src="../static/script/app.js" defer></script>
    </body>
</html>
