{% extends 'base.html' %} {% block content %}
<!-- KEYWORDS -->
<div class="mt-8 text-5xl self-center" style="font-family: Noto Sans Display">
    Are you looking for a job?
</div>
{% include 'source.html' %}
<div class="grid grid-cols-5 px-auto mb-24">
    {% for key in keywords %}
    <a href="search?word={{key.name}}" class="icons w-11/12 h-56">
        <img src="{{key.img}}" class="images m-6" alt=""></img>
        <div class="names opacity-20">{{key.name}}</div>
    </a>
    {% endfor %}
</div>

{% endblock content %}
