<nav class="nav">
    <!-- SEARCH BOX -->
    <a href="/" class="flex items-center ml-6">
        <i class="logo-icon fas fa-laptop-code"></i>
        <span class="logo text-2xl">Remote Jobs</span>
    </a>
    <div method="get" class="searchWrapper">
        <form class="search" method="get" action="/search">
            <input type="text" name="word" place="검색하기" class="placeholder-gray-900 ml-2 focus:outline-none h-5 w-full" />
            <button>
                <i class="fas fa-search" class="mr-0"></i>
            </button>
        </form>
    </div>
</nav>
